body {
  background-color: #808080;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.titulo-adm {
  font-family: "Roboto";
  display: flex;
  margin: 0px auto;
  font-size: 46px;
  color: white;
  text-transform: uppercase;
}
.btn-login {
  margin-right: 50px;
  width: 120px;
  height: 30px;
  cursor: pointer;
  background-color: white;
  color: white;
  border: 0px;
  border-radius: 15px;
  text-transform: uppercase;
  font-family: "Roboto";
  font-weight: 700;
}
.btn-login:hover {
  background-color: bisque;
}

main {
  display: flex;
  flex-direction: row;
  margin: 50px;
  column-gap: 100px;
  align-items: center;
}
.container-form-pedido {
  width: 30%;
  height: 150px;
  display: flex;
  background-color: white;
  justify-content: space-around;
  flex-direction: column;
  border: 3px solid rgb(48, 46, 46);
  border-radius: 3px;
}
.container-form-pedido h3 {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: "Roboto";
  font-size: 24px;
  color: #808080;
}

.solicitacao-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#produto {
  width: 80%;
  height: 30px;
  border: 1px solid gray;
  padding-left: 5px;
  font-family: "Roboto";
  border-radius: 3px;
  font-weight: 500;
}

#submit-form {
  width: 82%;
  height: 25px;
  background-color: #90ee90;
  cursor: pointer;
  border: 1px solid green;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

#submit-form:hover {
  background-color: #58a358;
}

.lista {
  width: 70%;
  display: flex;
  background-color: white;
  justify-content: space-around;
  flex-direction: column;
  border: 3px solid rgb(48, 46, 46);
  border-radius: 3px;
}
.lista ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
  padding: 0 20px;
}
.lista h3 {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  font-family: "Roboto";
  font-size: 30px;
  color: #808080;
}

.items-container li {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 2px solid black;
  border-radius: 5px;
  font-family: "Roboto";
}

#btn-alterar {
  margin: 0 10px;
  height: 25px;
  background-color: orange;
  cursor: pointer;
  border: 1px solid rgb(245, 186, 77);
  border-radius: 3px;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

#btn-alterar:hover {
  background-color: rgb(241, 189, 92);
}

#btn-excluir {
  height: 25px;
  background-color: red;
  cursor: pointer;
  border: 1px solid rgb(239, 99, 99);
  border-radius: 3px;
  color: white;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

#btn-excluir:hover {
  background-color: rgb(164, 60, 60);
}
