p {
  font-family: "Roboto";
}
h1 {
  font-family: "Roboto";
}
label {
  font-family: "Roboto";
}

body {
  background-color: #808080;
}
header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.titulo-login {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  font-size: 46px;
  color: white;
  text-transform: uppercase;
  position: relative;
  left: 96px;
}
.btn-pedidos {
  margin-right: 50px;
  width: 120px;
  height: 30px;
  cursor: pointer;
  background-color: white;
  color: white;
  border: 0px;
  border-radius: 15px;
  text-transform: uppercase;
  font-family: "Roboto";
  font-weight: 700;
}
.btn-pedidos:hover {
  background-color: bisque;
}
.container-login {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
form {
  width: 500px;
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

form input[type="text"],
form input[type="password"] {
  width: 100%;
  height: 30px;
  border: 1px solid rgb(113, 112, 112);
  padding-left: 10px;
}

#submit {
  width: 100%;
  height: 30px;
  cursor: pointer;
  background-color: brown;
  color: white;
  border: 0px;
  border-radius: 15px;
  text-transform: uppercase;
  font-family: "Roboto";
  font-weight: 700;
}
#submit:hover {
  background-color: rgb(172, 86, 86);
}
